<% @bands.each do |band| %>
  <div class="band">  
    <strong><%= link_to "#{band.name} Band Page", band %></strong> 
    <p><%= link_to "Edit #{band.name}", edit_band_path(band) %> | Created <%= time_ago_in_words(band.created_at) + " ago" %> </p>
  </div>
<% end %>