<div class="row">

  <div class="text-center row-fluid">
      <h1>Welcome!</h1>
      <p> <%= link_to 'Fan Sign Up', sign_up_path(plan: 'fan') %> </p>
      <p> <%= link_to 'Artist Sign Up', sign_up_path(plan: 'artist') %> </p>
  </div>  

</div>    


      